<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestFirefox">
  <parameter name="browser" value="Firefox"/>
    <classes>
      <class name="sampleGrid.GridExecWithTestNG"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestChrome">
  <parameter name="browser" value="Chrome"/>
    <classes>
      <class name="sampleGrid.GridExecWithTestNG"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestInternetExplorer">
  <parameter name="browser" value="ieexplorer"/>
    <classes>
      <class name="sampleGrid.GridExecWithTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
